<html xmlns:v-bind="http://www.w3.org/1999/xhtml">

<header>
</header>

<body>
<div id="app">
  <p  :class="{title : title}" @click="title = ! title">TODO LIST</p>
  <input v-model="newItem" @keyup.enter="submit">
  <button @click="submit">新增</button>
  <!--用key值提升渲染性能-->
  <ul >
    <todo-list
        v-for="(item,index) in items"
        :key="item.index"
        v-text="item.name"
        :content="item"
        :index="index"
        @delete="handleDelete"
    >
    </todo-list>
  </ul>
</div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script>

  Vue.component('todo-list',{
    props: ['content','index'],
    template: '<li @click="handleClick" >{{content.name}}</li>',
    methods: {
      handleClick: function(){
        console.log(this.content)
        this.content.finished = ! this.content.finished;
        console.log('请求父组件删除 ' + this.index)
        this.$emit('delete',this.index)
      }
    }
  })

  var app = new Vue({
    el: '#app',
    data: {
      show: true,
      title: true,
      newItem: '',
      items: []
    },
    methods: {
      submit: function(){
        this.items.push({name: this.newItem, finished: false})
        this.newItem = '';
      },
      handleDelete: function(index){
        console.log('子组件 ' + index + ' 请求删除')
        this.items.splice(index,1);
      }
    }
  })

</script>

<style>
  .title {
    text-decoration: underline;
  }

</style>

</html>
